<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include ../../_partial/common_css %>
        <% include ../../_partial/common_js %>
    </head>
    <body>
        <h1>詳細画面</h1>
    </body>
</html>