<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include _partial/common_css %>
        <% include _partial/common_js %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/javascripts/top/index.js"></script>
    </head>
    <body>
        <% include _partial/header %>
        <dim id="container">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        </dim>
    </body>
</html>
